body {
	padding-top: 70px;
}

/*Header style*/

.nav-links {
	display: inline-block;
	line-height: 50px;
	color: #337ab7;
	padding: 0 15px;
	border-left: 1px solid grey;
	text-decoration: none !important;
}

.nav-links:nth-child(2) {
	border-right: 1px solid grey;
}

.nav-links-active {
	color: #fff !important;
	background-color: #337ab7;
}

/*Authentication style*/

.auth {
	text-align: center;
}

.auth-choice {
	margin: 0 15px;
}

.login-form-wrap,
.registr-form-wrap{
	width: 50%;
	margin: auto;
}

.go-back-btn {
	display: block;
	margin-bottom: 15px;
}

.go-back-btn i {
	padding-right: 5px;
}
